.page-login {
  .container {
    padding: 0;
  }
  .bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .login-container {
    position: relative;
    width: 100vw / 4 * 3;
    height: 100vh;
    z-index: 1;
    float: right;
    background-color: rgba($color-primary, 0.5);
    overflow: auto;
    box-sizing: border-box;
    @media screen and(max-width: nth($break-point, 3)){
      width: 100%;
    }
  }
  .slogon {
    position: absolute;
    top: 80px;
    left: 24px;
    font-family: 'Helvatica';
    font-weight: lighter;
    .slogon-text {
      font-size: 6rem;
      color: $color-white;
      margin-bottom: 24px;
      &.small {
        font-size: 3rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and(max-width: nth($break-point, 3)){
      opacity: 0.05;
      position: fixed;
    }
  }
  .login-form {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-left: 304px;
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
    &:before {
      content:"";
      width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    @media screen and(max-width: nth($break-point, 3)){
      padding-left: 0;
    }
    .hint-text {
      color: $color-white;
      line-height: 2.25rem;
    }
  }
  .form-container {
    width: 80%;
    max-width: 460px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    @media screen and(max-width: nth($break-point, 3)){
      width: 300px;
    }
    @media screen and(max-width: nth($break-point, 1)){
      width: 95vw;
    }
  }
  .el-form-item {
    .el-form-item__label {
      &:before {
        display: none;
      }
    }
  }
  .login-logo {
    display: block;
    margin: 0 auto;
  }
  .login-btn {
    width: 100%;
  }
}
